{% extends 'base.twig' %}

{% block content %}

    <h1>Voting statistics</h1>

    <h3>Votes cast</h3>

    <p>Total number of votes cast per user group.</p>

    <div id="vote-counts"></div>


    <h3>Average vote</h3>

    <p>The average score given per user group.</p>

    <div id="average-vote"></div>


    <h3>Score distribution</h3>

    <p>How many times was each score given per user group.</p>

    <div id="score-distribution"></div>


    <h3>User group (dis)agreement</h3>

    <p>Displays sum of absoulte difference in scores for all talks between groups.</p>
    <p>The higher the number, the higher user disagreement.</p>

    <div id="user-agreement"></div>

    <h3>Standard deviation of scores</h3>

    <p>Shows the standard deviation in scores per talk. Smaller value means user groups were in agreement.</p>

    <div id="score-stdev"></div>

{% endblock %}

{% block js %}
    <script src="/static/highcharts/4.0.3/highcharts.js"></script>
    <script src="/static/highcharts/4.0.3/themes/grid.js"></script>
    <script src="/static/highcharts/4.0.3/modules/heatmap.js"></script>

    <script type="text/javascript">
        var vote_counts = {{ vote_counts|json_encode|raw }};
        var average_scores = {{ average_scores|json_encode|raw }};
        var score_counts = {{ score_counts|json_encode|raw }};

        function object_values(object) {
            var values = [];
            for (var key in object) {
                values.push(object[key]);
            }

            return values;
        }

        $(document).ready(function () {

            $('#vote-counts').highcharts({
                "chart": {
                    "type": "column"
                },
                "title": {
                    "text": ""
                },
                "xAxis": {
                    "categories": Object.keys(vote_counts)
                },
                "yAxis": {
                    "title": {
                        "text": "Number of votes"
                    }
                },
                "legend": {
                    "enabled": false
                },
                "series": [
                    {
                        "name": "Votes cast",
                        "data": object_values(vote_counts)
                    }
                ]
            });

            $('#average-vote').highcharts({
                "chart": {
                    "type": "column"
                },
                "title": {
                    "text": ""
                },
                "xAxis": {
                    "categories": Object.keys(average_scores)
                },
                "yAxis": {
                    "title": {
                        "text": "Number of votes"
                    }
                },
                "legend": {
                    "enabled": false
                },
                "series": [
                    {
                        "name": "Average vote",
                        "data": object_values(average_scores)
                    }
                ]
            });

            var score_dist = {
                1: [],
                2: [],
                3: [],
                4: [],
                5: [],
            };

            $.each(score_counts, function(group, values) {
                $.each(values, function(score, count) {
                    score_dist[score].push(count);
                });
            });

            var score_dist_series = [];
            $.each(score_dist, function(score, counts) {
                score_dist_series.push({
                    "name": score,
                    "data": counts
                });
            });

            $('#score-distribution').highcharts({
                "chart": {
                    "type": "column"
                },
                "title": {
                    "text": ""
                },
                "xAxis": {
                    "categories": Object.keys(score_counts)
                },
                "yAxis": {
                    "title": {
                        "text": "Number of votes"
                    }
                },
                "series": score_dist_series
            });


            $('#user-agreement').highcharts({
                "chart": {
                    "type": "heatmap",
                    "marginTop": 40,
                    "marginBottom": 40
                },
                "title": {
                    "text": ""
                },
                "xAxis": {
                    "categories": {{ users|json_encode|raw }}
                },
                "yAxis": {
                    "categories": {{ users|json_encode|raw }}
                },
                "colorAxis": {
                    "min": 0,
                    "minColor": "#FFFFFF",
                    "maxColor": "#FF0000"
                },
                "legend": {
                    "align": "right",
                    "layout": "vertical",
                    "margin": 0,
                    "verticalAlign": "top",
                    "y": 25,
                    "symbolHeight": 320
                },
                "series": [
                    {
                        "name": "User agreement",
                        "data": {{ heatmap_data|json_encode|raw }}
                    }
                ]
            });

            $('#score-stdev').highcharts({
                "chart": {
                    "type": "bar"
                },
                "title": {
                    "text": ""
                },
                "xAxis": {
                    "categories": {{ stdev_groups|json_encode|raw }}
                },
                "yAxis": {
                    "title": {
                        "text": "Number of votes"
                    }
                },
                "legend": {
                    "enabled": false
                },
                "series": [
                    {
                        "name": "Average vote",
                        "data": {{ stdev_data|json_encode|raw }}
                    }
                ]
            });

        });
    </script>
{% endblock %}
