{% extends 'base.twig' %}

{% set rating = talk.scores[user.username]|default(null) %}
{% set votes = talk.scores|default([])|length %}

{% block content %}
    <div class="row">
        <div class="col-md-6 talk" data-talk-id="{{ talk._id }}">
            <h2>{{ talk.title }}</h2>
            <p>{{ talk.short_abstract|nl2br }}</p>

            <h4>Abstract</h4>
            {% for line in talk.long_abstract|split("\n") %}
                <p>{{ line }}</p>
            {% endfor %}

            <dl>
                <dt>Duration</dt>
                <dd>{{ talk.duration }}</dd>

                <dt>Level</dt>
                <dd>{{ talk.level }}</dd>

                {% if is_granted('ROLE_VOTER') and talk.status == 'pending' %}
                <dt>Your vote</dt>
                <dd>
                    {% include 'includes/stars.twig' with { talk_id: talk._id, rating: rating } only %}<br />
                </dd>
                {% endif %}

                <dt>Status</dt>
                <dd><span class="label label-{{ talk.status == 'accepted' ? 'success' : 'default' }}">{{ talk.status|title }}</span></dd>
            </dl>


            {% if talk.status == 'accepted' or is_granted('ROLE_ADMIN') %}
            <h4>Votes</h4>

            <table class="table table-condensed" style="width: auto">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td{% if user == app.user.username %} class="current-user-vote"{% endif %}>{{ talk.scores[user]|default("-") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Average</td>
                        <td>
                            <span class="avg-score">{{ avg_score|number_format(3)|default('-') }}</span>
                            (<span class="votes">{{ votes }}</span> votes)
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% endif %}
        </div>

        <div class="col-md-5 col-md-offset-1">
            <h2>{{ speaker.name }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>{{ speaker.short_bio|nl2br }}</p>
                    <p>
                        <a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a>
                        {% if speaker.twitter %}
                            <br /><a target="_blank" href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
                        {% endif %}
                        {% if speaker.github %}
                            <br /><a target="_blank" href="https://github.com/{{ speaker.github }}">github.com/{{ speaker.github }}</a>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{{ speaker.image }}" style="width: 100%" />
                </div>
            </div>

            <h4>Bio</h4>
            {% for line in speaker.long_bio|split("\n") %}
                <p>{{ line }}</p>
            {% endfor %}

            <h4>Experience</h4>
            <p>{{ speaker.experience|nl2br }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if prev %}<a href="{{ path('talk', { id: prev._id }) }}" id="prev_talk_url">&lt;&lt;&nbsp;{{ prev.title }}</a>{% endif %}<br />
        </div>
        <div class="col-md-6 text-right">
            {% if next %}<a href="{{ path('talk', { id: next._id }) }}" id="next_talk_url">{{ next.title }}&nbsp;&gt;&gt;</a>{% endif %}
        </div>
    </div>
{% endblock %}
